# Environment variables
.env
*.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
build/
dist/

# OS files
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Python
__pycache__/
*.py[cod]
venv/
.venv/
